<h2>Se connecter</h2>
<br />
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", style: "width: 18rem;" %>
  </div>
  <div class="field">
    <label>Mot de passe</label><br />
    <%= f.password_field :password, autocomplete: "mot de passe actuel", class: "form-control", style: "width: 18rem;" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me, class: "form-check-input" %>
      <label>Se rappeler de moi</label>
    </div>
  <% end %>
  <br />
  <div class="actions">
    <%= f.submit "Se connecter", class: "btn btn-primary" %>
  </div>
<% end %>
<br />

<%= render "devise/shared/links" %>
